*{
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  font-family:'open sans';
}

#flex{
  display: flex;
}

.container-fluid{
  display: flex;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
  

}

.lista_header{
  list-style: none;
  font-weight: bold;
  color: dimgrey;
  display: flex;
  
}

li{
  margin:10px;
}

header{
  margin: 30px 0;
}

main{
  width: 100vw;
  background-color: black;
  margin-top: 30px;
  padding: 50px 0;
}

#white{
  color: white;
}

.bg-blue{
  width: 100vw;
  height: 15vh;
  background-color: #0282F9;
  background-size: cover;
}

.foot-bg{
  background-image: url("../img/footer-bg.jpg") ;
  width: 100vw;
  height: 70vh;
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
}

.lista-footer{
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  padding: 20px 0;

}

#size{
  width: 20%;
  height: auto;
  margin: 0 10px;
}

.position{
  color: white;
  text-align: center;
  padding-top: 15px;
  
}

.fifthy{
  width: 50%;
}

.dc_button{
  width: 60%;
  margin-top: -5%;
}